
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.input-group-btn.input-group-btn-with-label{
	vertical-align: bottom;
}

#map, .map{
	height: 930px;
}

#app{
	.app-container{
		@extend .row;
		.search{
			@extend .col-sm-12;
			form{
				@extend .row;
				.form-group{
					@extend .col-sm-2;
					&.txtDenom{
						@extend .col-sm-2;
					}
					&.btn-group{
						@extend .col-sm-2;
					}
				}
				.selGeo{
					
				}
			}
		}
		.map{
			@extend .col-sm-6;
		}
		.chart{
			@extend .col-sm-6;
			height: 930px;
			.chart__table{
				@extend .row;
				.dataTables_wrapper{
					@extend .col-sm-12;
					.dataTables_length{
						@extend .col-sm-6;
					}
					.dataTables_filter{
						@extend .col-sm-6;
					}
					.table{
						width: 100% !important;
					}
				}
			}
		}
	}
}

.spinner-wrapper{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	opacity: .75;
}

.spinner-wrapper .spinner{
}