
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%;
  	width: 100%;
	margin: 0;
	padding: 0;
}

.input-group-btn.input-group-btn-with-label{
	vertical-align: bottom;
}

.dataTables_paginate {
	@extend .pagination;
	.paginate_button{
		position: relative;
		display: inline-block;
		padding: .5rem .75rem;
		margin-left: -1px;
		line-height: 1.25;
		background-color: #fff;
		border: 1px solid #ddd;
		cursor: pointer;
		pointer-events: all;
		&.previous{
			margin-left: 0;
			border-top-left-radius: .25rem;
			border-bottom-left-radius: .25rem;
		}
		&.next{
			margin-right: 0;
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		}
		&.current{
			color: white;
			background-color: $brand-primary;
			pointer-events: none;
		}
		&.disabled{
			pointer-events: none;
			background-color: white;
    		border-color: #ddd;
    		opacity: .65;
    		color: #868e96;
		}
	}
}

#app{
	.app-container{
		margin: auto;
		@extend .row;
		.search{
			@extend .col-sm-12;
			form{
				@extend .row;
				.form-group{
					@extend .col-sm-2;
					&.txtDenom{
						@extend .col-sm-2;
					}
					&.btn-group{
						@extend .col-sm-2;
					}
				}
				.selGeo{
					
				}
			}
		}
		.map{
			@extend .col-sm-6;
		}
		.chart{
			.page-header{
				text-align: center;
			}
			background-color: white;
			@extend .col-sm-6;
			display: flex;
			flex-flow: row wrap;
			.chart__table{
				@extend .row;
				.dataTables_wrapper{
					@extend .col-sm-12;
					.dataTables_length{
						@extend .col-sm-6;
					}
					.dataTables_filter{
						@extend .col-sm-6;
					}
					.table{
						width: 100% !important;
					}
				}
			}
			.chart__image{
				width: 100%;
			}
		}
	}
}

.spinner-wrapper{
	// height: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// background-color: #FFFFFF;
	// opacity: .75;
	margin: 50% auto;
}

.spinner-wrapper .spinner{
}